<!doctype html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Signin</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/all.min.css" />
  </head>
  <body>
    <div class="login-form">
      <!-- <div class="text">LOGIN</div> -->
      <div class="signin-font">LOGIN</div>
      <form action="/users/login" method="POST">
        <div class="field">
          <div class="fas fa-envelope"></div>
          <input type="text" placeholder="Email or Phone" name="Email" />
        </div>
        <div class="field">
          <div class="fas fa-lock"></div>
          <input type="password" placeholder="Password" name="password" />
        </div>
        <button>Signin</button>
        <div class="link">
          Not a member?
          <a href="/users/signup">Signup now</a>
          <!-- <a href="#">Signup now</a> -->
        </div>
      </form>
    </div>
  </body>
</html>
