<!doctype html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr" data-bs-theme="dark">
  <head>
    <meta charset="utf-8" />
    <title>Signin</title>

    <!-- <script src="js/color-modes.js"></script> -->

    <link rel="stylesheet" href="/css/all.min.css" />
    <link rel="stylesheet" href="/css/login-signup.css" />

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="/css/headers.css"> -->

  </head>
  <body>

    
    <!-- HTML CODES -->

    <div class="login-form">


      <div class="signin-font">LOGIN</div>

      <% if (errors.length>0) { %>
      <div class="alert alert-danger">
        <% errors.forEach ( error => { %> <%= error%> <br />
        <% }) %>
      </div>
      <% } %>

      <form action="/users/login" method="POST">
        <div class="field">
          <div class="fas fa-envelope"></div>
          <input type="text" placeholder="Email or Phone" name="Email" />
        </div>
        <div class="field">
          <div class="fas fa-lock"></div>
          <input type="password" placeholder="Password" name="password" />
        </div>
        <button>Signin</button>
        <div class="link">
          Not a member?
          <a href="/users/signup">Signup now</a>

          <div class="link">Go to <a href="/">Homepage</a></div>

        </div>
      </form>
    </div>
  </body>
</html>
