<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/register.css" />
    <title>Register Page</title>
  </head>
  <body>
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,700"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Sofia"
      rel="stylesheet"
      type="text/css"
    />
    <div class="login">
      <h2>Register</h2>
      <form action="#" method="POST">
        <input name="username" placeholder="Username" type="text" />
        <input id="pw" name="password" placeholder="Password" type="password" />
        <input name="email" placeholder="E-Mail Address" type="text" />
        <div class="agree">
          <input id="agree" name="agree" type="checkbox" />
          <label for="agree"></label>Accept rules and conditions
        </div>
        <input class="animated" type="submit" value="Register" />
        <a class="forgot" href="#">Already have an account?</a>
    </div>
    </form>
  </body>
</html>
